<main-container [subtitle]="'行选中'">
    <div class="col-xl-12">
        <demo-panel [height]="70" title="">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" [(ngModel)]="showCheckbox" class="custom-control-input"
                    id="showCheckbox">
                <label class="custom-control-label" for="showCheckbox">显示复选框</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" [(ngModel)]="keepSelect" class="custom-control-input"
                    id="keepSelect">
                <label class="custom-control-label" for="keepSelect">允许取消选中</label>
            </div>
            <button type="button" class="btn btn-primary mr-1" (click)="dg.clearSelections()">取消选中行</button>
            <button type="button" class="btn btn-primary" (click)="dg.selectRow(6)">选中（id: 6）行</button>
        </demo-panel>
        <demo-panel>
            <!-- datatable start -->
            <xui-datagrid [columns]="columns" [data]="items" #dg [pageSize]="50" [showBorder]="true"
                [pagination]="false" [showCheckbox]="showCheckbox" [keepSelect]="!keepSelect"
                (selectChanged)="onSelectChanged($event)">
            </xui-datagrid>
            <!-- datatable end -->

            <div class="row p-3 p-sm-0 p-md-1 p-lg-2 p-xl-3">
                <div class="col-xl-12">
                    当前选中ID：{{ currentRow?.id }}
                </div>
            </div>

        </demo-panel>




    </div>
</main-container>