<ul id="js-nav-menu" class="nav-menu">
        <li class="active open">
                <a href="#" title="Application Intel" data-filter-tags="application intel">
                    <i class="fal fa-info-circle"></i>
                    <span class="nav-link-text" data-i18n="nav.application_intel">DataGrid</span>
                </a>
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/basic" title="Basic" data-filter-tags="application intel analytics dashboard">
                            <span class="nav-link-text">Basic</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/border" title="Marketing Dashboard">
                            <span class="nav-link-text" >边框线</span>
                        </a>
                    </li>
          
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/select" title="Marketing Dashboard">
                            <span class="nav-link-text" >选中行</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/multi-select" title="Introduction" >
                            <span class="nav-link-text">多选</span>
                        </a>
                    </li>
                    <li  routerLinkActive="active">
                        <a routerLink="/datagrid/pager" title="Privacy">
                            <span class="nav-link-text" >分页</span>
                        </a>
                    </li>
                    <li>
                        <a href="intel_build_notes.html" title="Build Notes" data-filter-tags="application intel build notes">
                            <span class="nav-link-text" data-i18n="nav.application_intel_build_notes">虚拟加载</span>
                        </a>
                    </li>
                    <li>
                        <a href="intel_privacy.html" title="Privacy" >
                            <span class="nav-link-text" >自定义行样式</span>
                        </a>
                    </li>
                    <li>
                        <a href="intel_privacy.html" title="Privacy" >
                            <span class="nav-link-text" >数据格式化</span>
                        </a>
                    </li>
                    <li>
                        <a href="intel_privacy.html" title="Privacy" >
                            <span class="nav-link-text" >合计行</span>
                        </a>
                    </li>
                    <li>
                        <a href="intel_privacy.html" title="Privacy" >
                            <span class="nav-link-text" >排序</span>
                        </a>
                    </li>
                    <li>
                        <a href="intel_privacy.html" title="Privacy" >
                            <span class="nav-link-text" >填充父容器</span>
                        </a>
                    </li>
                    <li>
                        <a href="intel_privacy.html" title="Privacy" >
                            <span class="nav-link-text" >自动列宽</span>
                        </a>
                    </li>
                    <li>
                        <a href="intel_privacy.html" title="Privacy" >
                            <span class="nav-link-text" >行分组</span>
                        </a>
                    </li>
                    <li>
                        <a href="intel_privacy.html" title="Privacy" >
                            <span class="nav-link-text" >多级表头</span>
                        </a>
                    </li>
                    <li>
                        <a href="intel_privacy.html" title="Privacy" >
                            <span class="nav-link-text" >固定列</span>
                        </a>
                    </li>
                    <li>
                        <a href="intel_privacy.html" title="Privacy" >
                            <span class="nav-link-text" >整行编辑</span>
                        </a>
                    </li>
                    <li>
                        <a href="intel_privacy.html" title="Privacy" >
                            <span class="nav-link-text" >单元格编辑</span>
                        </a>
                    </li>
                    <li>
                        <a href="intel_privacy.html" title="Privacy" >
                            <span class="nav-link-text" >自定义模板</span>
                        </a>
                    </li>
                    <li>
                        <a href="intel_privacy.html" title="Privacy" >
                            <span class="nav-link-text" >数据折行</span>
                        </a>
                    </li>
                    <li>
                        <a href="intel_privacy.html" title="Privacy" >
                            <span class="nav-link-text" >右键菜单</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Theme Settings" data-filter-tags="theme settings">
                    <i class="fal fa-cog"></i>
                    <span class="nav-link-text" data-i18n="nav.theme_settings">Theme Settings</span>
                </a>
                <ul>
                    <li>
                        <a href="settings_how_it_works.html" title="How it works" data-filter-tags="theme settings how it works">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">How it works</span>
                        </a>
                    </li>
                    <li>
                        <a href="settings_layout_options.html" title="Layout Options" data-filter-tags="theme settings layout options">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_layout_options">Layout Options</span>
                        </a>
                    </li>
                    <li>
                        <a href="settings_skin_options.html" title="Skin Options" data-filter-tags="theme settings skin options">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_skin_options">Skin Options</span>
                        </a>
                    </li>
                    <li>
                        <a href="settings_saving_db.html" title="Saving to Database" data-filter-tags="theme settings saving to database">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_saving_to_database">Saving to Database</span>
                        </a>
                    </li>
                </ul>
            </li>
</ul>