<ul id="js-nav-menu" class="nav-menu">
        <li class="active open">
                <a href="#" title="Application Intel" data-filter-tags="application intel">
                    <i class="fal fa-info-circle"></i>
                    <span class="nav-link-text" data-i18n="nav.application_intel">DataGrid</span>
                </a>
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/basic" title="Basic" data-filter-tags="application intel analytics dashboard">
                            <span class="nav-link-text">Basic</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/fit" title="Privacy" >
                            <span class="nav-link-text" >填充父容器</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/border" title="Marketing Dashboard">
                            <span class="nav-link-text" >边框线</span>
                        </a>
                    </li>
          
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/select" title="Marketing Dashboard">
                            <span class="nav-link-text" >选中行</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/multi-select" title="Introduction" >
                            <span class="nav-link-text">多选</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/pager" title="Privacy">
                            <span class="nav-link-text" >分页</span>
                        </a>
                    </li>
                
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/row-formatter" title="Privacy" >
                            <span class="nav-link-text" >自定义行样式</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/cell-formatter" title="自定义单元格样式" >
                            <span class="nav-link-text" >自定义单元格样式</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/data-formatter" title="数据格式化" >
                            <span class="nav-link-text" >数据格式化</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/cell-template" title="自定义模板" >
                            <span class="nav-link-text" >自定义模板</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/row-height" title="Row Height" >
                            <span class="nav-link-text" >行高</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/footer-row" title="Footer Row" >
                            <span class="nav-link-text" >合计行</span>
                        </a>
                    </li>
                  
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/sort" title="Footer Row" >
                            <span class="nav-link-text" >排序</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/group-rows"  title="Privacy" >
                            <span class="nav-link-text" >行分组</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/header-group"  title="Privacy" >
                            <span class="nav-link-text" >多级表头</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/fixed-columns" title="Fixed Columns" >
                            <span class="nav-link-text" >固定列</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/wrap" title="Privacy" >
                            <span class="nav-link-text" >数据折行</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a href="intel_build_notes.html" title="Build Notes">
                            <span class="nav-link-text" >虚拟加载</span>
                        </a>
                    </li>
                   
                    <li routerLinkActive="active">
                        <a href="intel_privacy.html" title="Privacy" >
                            <span class="nav-link-text" >整行编辑</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a href="intel_privacy.html" title="Privacy" >
                            <span class="nav-link-text" >单元格编辑</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/datagrid/footer-row" title="Footer Row" >
                            <span class="nav-link-text" >过滤行</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a href="intel_privacy.html" title="Privacy" >
                            <span class="nav-link-text" >右键菜单</span>
                        </a>
                    </li>
                </ul>
            </li>
</ul>