<main-container [subtitle]="'Fit'">
    <div class="col-xl-12">
        <demo-panel height="50" title="">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline1" name="sizeType" class="custom-control-input" value="sm" [(ngModel)]="st">
              <label class="custom-control-label" for="customRadioInline1">小</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline2" name="sizeType" class="custom-control-input" value="md" [(ngModel)]="st">
              <label class="custom-control-label" for="customRadioInline2">中</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline3" name="sizeType" class="custom-control-input" value="lg" [(ngModel)]="st">
              <label class="custom-control-label" for="customRadioInline3">大</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline4" name="sizeType" class="custom-control-input" value="xl" [(ngModel)]="st">
              <label class="custom-control-label" for="customRadioInline4">超大</label>
            </div>

        </demo-panel>

        <demo-panel [height]="600" >
            <xui-datagrid [fit]="true"  [sizeType]="st" [fitColumns]="true" [columns]="columns" [data]="items"></xui-datagrid>
        </demo-panel>
    </div>
</main-container>